.advantages-wrapper{
	background-color: #fff;
}

.advantages{
	padding-top: 32px;
	padding-bottom: 12px;
	padding-left: 24px;
}

.advantages .col-xs-12.col-md-3{
	float: none;
	display: inline-block;
	vertical-align: top;
}

.adv-item__caption{
	display: table;
	margin-bottom: 20px;
}

.adv-item__icon,
.adv-item__text{
	display: table-cell;
	vertical-align: middle;
}

.adv-item__icon{
	padding-right: 22px;
}

.adv-item__icon i{
	font-size: 28px;
	color: #000;
}