.fadeInLeftBig{
	animation: fadeInLeftBig 1s ease-in-out;
}

@keyframes fadeInLeftBig {
	from {
		transform: translate3d(-40px, 0, 0);
		opacity: 0;
	}
	to {
		transform: none;
		opacity: 1;
	}
}

.fadeInBig{
	animation: fadeInBig .3s ease-in-out;
}

@keyframes fadeInBig {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes loaderRotate1{
	0%{
		-webkit-transform: rotate(0deg);
	}
	
	100%{
		-webkit-transform: rotate(360deg);
	}
}

@keyframes loaderRotate1{
	0%{
		transform: rotate(0deg);
	}
	
	100%{
		transform: rotate(360deg);
	}
}

@-webkit-keyframes loaderRotate2{
	0%{
		-webkit-transform: rotate(0deg);
	}
	
	100%{
		-webkit-transform: rotate(220deg);
	}
}

@keyframes loaderRotate2{
	0% {
		transform: rotate(0deg);
	}
	
	100%{
		transform: rotate(220deg);
	}
}

@-webkit-keyframes loaderRotate3{
	0%{
		-webkit-transform: rotate(-140deg);
	}
	
	50%{
		-webkit-transform: rotate(-160deg);
	}
	
	100%{
		-webkit-transform: rotate(140deg);
	}
}

@keyframes loaderRotate3{
	0%{
		transform: rotate(-140deg);
	}
	
	50%{
		transform: rotate(-160deg);
	}
	
	100%{
		transform: rotate(140deg);
	}
}