.container-ws .catalog-sections{
	display: flex;
	flex-wrap: wrap;
}

.container-ws .catalog-sections [class*="col-"]{
	width: 12.5%;
}

.catalog-section-item{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;
	padding: 18px 18px 13px;
	position: relative;	
	border: 1px solid #e8edef;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	background: #fff;
}

.catalog-section-item:link,
.catalog-section-item:visited{
	text-decoration: none;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.container-ws .catalog-section-item{
	margin: 0;
	border-left: none;
	border-right: 1px solid #e8edef;
	border-top: none;
	border-bottom: 1px solid #e8edef;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
}

.bx-no-touch .catalog-section-item:hover,
.bx-touch .catalog-section-item:active{
	-webkit-box-shadow: 0 0 36px rgba(61, 75, 82, 0.16);
	-moz-box-shadow: 0 0 36px rgba(61, 75, 82, 0.16);
	box-shadow: 0 0 36px rgba(61, 75, 82, 0.16);
	z-index: 202;
}

.catalog-section-item__count{
	position: absolute;
	right: 11px;
	top: 11px;
	padding: 0 5px;
	font-size: 11px;	
	color: #8ea6ab;
	line-height: 16px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background: #e3ecef;
	z-index: 200;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .catalog-section-item:hover .catalog-section-item__count,
.bx-touch .catalog-section-item:active .catalog-section-item__count{
	color: #fff;
	background: #6e858a;
}

.catalog-section-item__graph{
	width: 100%;
	height: 134px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.catalog-section-item__graph > i{
	font-size: 90px;
	color: #55686e;
}

.catalog-section-item__graph > img{
	width: auto;
	height: auto;
	max-width: 134px;
	max-height: 134px;
}

.catalog-section-item__title{
	height: 38px;
	margin: 8px -8px 0px;	
	overflow: hidden;
	color: #3d4b52;
	text-align: center;	
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .catalog-section-item:hover .catalog-section-item__title,
.bx-touch .catalog-section-item:active .catalog-section-item__title{
	color: #6639b6;
}

/***PHONES***/
@media(max-width: 991px){
	.catalog-section-list{
		margin-top: -32px;
	}

	.catalog-section-container .catalog-section-list{
		margin: 0;
	}
	
	.container-ws .catalog-sections{
		display: block;
	}

	.catalog-sections [class*="col-"]{
		padding: 0;
	}

	.container-ws .catalog-sections [class*="col-"]{
		width: 100%;
		padding: 0;
	}
	
	.catalog-section-item,
	.container-ws .catalog-section-item{
		flex-direction: row;
		margin: 0;
		padding: 12px 18px;
		border: none;
		border-bottom: 1px solid #e8edef;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		border-radius: 0;		
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
	}
	
	.bx-no-touch .catalog-section-item:hover,
	.bx-touch .catalog-section-item:active{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.catalog-section-item__count{
		right: 12px;
	}
	
	.catalog-section-item__graph{
		width: 50px;
		min-width: 50px;
		height: 50px;
		margin-right: 12px;
	}

	.catalog-section-item__graph > i{
		font-size: 36px;
	}

	.catalog-section-item__graph > img{
		max-width: 36px;
		max-height: 36px;
	}

	.catalog-section-item__title{		
		width: 100%;
		height: auto;
		align-self: center;
		margin: 0;
		overflow: visible;
		text-align: left;
	}
}

/***DESKTOPS_LARGE_DESKTOPS***/
@media(min-width: 992px){
	.container-ws .catalog-sections [class*="col-"]:nth-child(1) .catalog-section-item,
	.container-ws .catalog-sections [class*="col-"]:nth-child(2) .catalog-section-item,
	.container-ws .catalog-sections [class*="col-"]:nth-child(3) .catalog-section-item,
	.container-ws .catalog-sections [class*="col-"]:nth-child(4) .catalog-section-item,
	.container-ws .catalog-sections [class*="col-"]:nth-child(5) .catalog-section-item{
		border-top: 1px solid #e8edef;
	}
}

@media(min-width: 992px) and (max-width: 1271px){
	.catalog-section-item__graph{
		height: 94px;
	}

	.catalog-section-item__graph > i{
		font-size: 72px;
	}

	.catalog-section-item__graph > img{		
		max-width: 94px;
		max-height: 94px;
	}
}

@media(min-width: 992px) and (max-width: 1103px){
	.container-ws .catalog-sections [class*="col-"]{
		width: 20%;
	}

	.container-ws .catalog-sections [class*="col-"]:nth-child(5n+5) .catalog-section-item{
		border-right: none;
	}
}

@media(min-width: 1104px) and (max-width: 1379px){
	.container-ws .catalog-sections [class*="col-"]{
		width: 16.66666667%;
	}

	.container-ws .catalog-sections [class*="col-"]:nth-child(6) .catalog-section-item{
		border-top: 1px solid #e8edef;
	}

	.container-ws .catalog-sections [class*="col-"]:nth-child(6n+6) .catalog-section-item{
		border-right: none;
	}
}

@media(min-width: 1380px) and (max-width: 1655px){
	.container-ws .catalog-sections [class*="col-"]{
		width: 14.28571429%;
	}

	.container-ws .catalog-sections [class*="col-"]:nth-child(6) .catalog-section-item{
		border-top: 1px solid #e8edef;
	}
}

@media(min-width: 1380px) and (max-width: 1499px){
	.container-ws .catalog-sections [class*="col-"]:nth-child(7) .catalog-section-item{
		border-top: 1px solid #e8edef;
	}

	.container-ws .catalog-sections [class*="col-"]:nth-child(7n+7) .catalog-section-item{
		border-right: none;
	}
}

@media(min-width: 1500px) and (max-width: 1655px){
	.slide-menu-option-1-active .container-ws .catalog-sections [class*="col-"]{
		width: 16.66666667%;
	}

	body:not(.slide-menu-option-1-active) .container-ws .catalog-sections [class*="col-"]:nth-child(7) .catalog-section-item{
		border-top: 1px solid #e8edef;
	}

	body:not(.slide-menu-option-1-active) .container-ws .catalog-sections [class*="col-"]:nth-child(7n+7) .catalog-section-item{
		border-right: none;
	}

	.slide-menu-option-1-active .container-ws .catalog-sections [class*="col-"]:nth-child(6n+6) .catalog-section-item{
		border-right: none;
	}
}

@media(min-width: 1656px){
	.slide-menu-option-1-active .container-ws .catalog-sections [class*="col-"]{
		width: 14.28571429%;
	}

	.container-ws .catalog-sections [class*="col-"]:nth-child(6) .catalog-section-item,
	.container-ws .catalog-sections [class*="col-"]:nth-child(7) .catalog-section-item,
	body:not(.slide-menu-option-1-active) .container-ws .catalog-sections [class*="col-"]:nth-child(8) .catalog-section-item{
		border-top: 1px solid #e8edef;
	}

	body:not(.slide-menu-option-1-active) .container-ws .catalog-sections [class*="col-"]:nth-child(8n+8) .catalog-section-item{
		border-right: none;
	}

	.slide-menu-option-1-active .container-ws .catalog-sections [class*="col-"]:nth-child(7n+7) .catalog-section-item{
		border-right: none;
	}
}