.news-wrapper{
	width: 100%;
	background: #f1f6f7;
}

.news{
	padding-top: 40px;
	padding-bottom: 64px;
}

.news .h1{	
	padding-bottom: 32px;
	text-align: center;
}

.news .col-xs-12.col-md-4{
	float: none;
	display: inline-block;
	vertical-align: top;
}

.news .news-item{
	width: 100%;
	display: flex;
	margin-bottom: 32px;
	text-decoration: none;
}

.news-item__pic-wrapper{
	width: 100px;
	min-width: 100px;
	margin-right: 18px;
}

.news-item__pic{
	width: 100px;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	background-color: #d0e0e3;
	-webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}

.news-item__pic > img{
	width: auto;
	max-width: 100px;
	height: auto;
	max-height: 100px;
	-webkit-transition: -webkit-transform 0.3s ease 0s;
	-moz-transition: -moz-transform 0.3s ease 0s;
	-o-transition: -o-transform 0.3s ease 0s;
	transition: transform 0.3s ease 0s;
}

.news-item__pic > img[data-lazyload-src]{
	-webkit-transition: -webkit-transform 0.3s ease 0s, opacity 0.3s ease 0s;
	-moz-transition: -moz-transform 0.3s ease 0s, opacity 0.3s ease 0s;
	-o-transition: -o-transform 0.3s ease 0s, opacity 0.3s ease 0s;
	transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
}

.bx-no-touch .news .news-item:hover .news-item__pic > img,
.bx-touch .news .news-item:active .news-item__pic > img{
	-moz-transform: scale(1.25) rotate(0.02deg);
	-o-transform: scale(1.25);
	-webkit-transform: scale(1.25);
	transform: scale(1.25);
}

.news-item__caption{
	width: 100%;
}

.news-item__date{	
	display: table;
	margin-top: 6px;
	color: #8ea6ab;	
}

.news-item__title{
	margin-top: 6px;
	color: #3d4b52;	
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.bx-no-touch .news .news-item:hover .news-item__title,
.bx-touch .news .news-item:active .news-item__title{
	color: #6639b6;	
}

.news .all-news{
	display: flex;
	justify-content: center;
}

/***PHONES***/
@media(max-width: 991px){
	.news{
		padding-top: 8px;
		padding-bottom: 32px;
	}
	
	.news .col-xs-12.col-md-4{
		float: left;
		display: block;
	}

	.news .news-item{
		margin-bottom: 12px;
	}

	.news-item__pic-wrapper{
		width: 80px;
		min-width: 80px;
		margin-right: 12px;
	}

	.news-item__pic{
		width: 80px;
		height: 80px;
	}
	
	.news-item__pic > img{
		max-width: 80px;
		max-height: 80px;
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
	}

	.news-item__pic > img[data-lazyload-src]{
		-webkit-transition: opacity 0.3s ease 0s;
		-moz-transition: opacity 0.3s ease 0s;
		-o-transition: opacity 0.3s ease 0s;
		transition: opacity 0.3s ease 0s;
	}

	.bx-no-touch .news .news-item:hover .news-item__pic > img,
	.bx-touch .news .news-item:active .news-item__pic  > img{
		-moz-transform: none;
		-o-transform: none;
		-webkit-transform: none;
		transform: none;
	}
	
	.news .all-news{
		margin-top: 6px;
	}

	.news .all-news .btn{
		width: 100%;
	}
}