/***MENU***/
.catalog-menu-wrapper{
	width: 100%;
	position: relative;
	border-top: 1px solid #e3ecef;
	-webkit-box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
    -moz-box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
    box-shadow: 0 0 32px rgba(61, 75, 82, 0.16);
	background: #fff;
	z-index: 204;
}

.catalog-menu-wrapper:after{
	display: table;
	clear: both;
	content: "";
}

.catalog-menu{
	height: 72px;
	float: left;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
	border-left: 1px solid #f1f6f7;
}

.catalog-menu-wrapper > .catalog-menu{
	border: none;
}

.catalog-menu-wrapper > .catalog-menu.catalog-menu-item-column{
	width: 100%;
	height: 112px;
	display: flex;
	flex-wrap: wrap;
}

.catalog-menu > li{
	float: left;
	border-right: 1px solid #f1f6f7;
}

.catalog-menu-wrapper > .catalog-menu > li{
	border-right-color: #f1f6f7;
}

.catalog-menu-wrapper > .catalog-menu.catalog-menu-item-column > li{
	flex-basis: 160px;
	flex-grow: 1;
}

.catalog-menu > li > a{
	height: 72px;
	display: flex;
	align-items: center;
	padding: 0 18px;
	text-decoration: none;
}

.catalog-menu-wrapper > .catalog-menu.catalog-menu-item-column > li > a{
	height: 112px;
	flex-direction: column;
	justify-content: center;
	padding-top: 12px;
	padding-bottom: 12px;
	position: relative;
}

.bx-no-touch .catalog-menu > li:hover > a,
.bx-no-touch .catalog-menu > li.jshover > a,
.bx-touch .catalog-menu > li:active > a,
.catalog-menu > li.hover > a,
.catalog-menu > li.active > a{
	background-color: #f1f6f7;
}

.catalog-menu-icon,
.catalog-menu-pic{	
	width: 36px;
	height: 36px;
	min-width: 36px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 18px;
}

.catalog-menu-wrapper > .catalog-menu.catalog-menu-item-column > li > a > .catalog-menu-icon,
.catalog-menu-wrapper > .catalog-menu.catalog-menu-item-column > li > a > .catalog-menu-pic{
	width: 48px;
	height: 48px;
	min-width: unset;
	min-height: 48px;
	margin-right: 0;
	margin-bottom: 6px;
}

.catalog-menu-icon > i{
	font-size: 36px;
	color: #55686e;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.catalog-menu-wrapper > .catalog-menu.catalog-menu-item-column > li > a > .catalog-menu-icon > i{
	font-size: 48px;
}

.bx-no-touch .catalog-menu li:hover > a > .catalog-menu-icon > i,
.bx-no-touch .catalog-menu li.jshover > a > .catalog-menu-icon > i,
.bx-touch .catalog-menu li:active > a > .catalog-menu-icon > i,
.catalog-menu li.hover > a > .catalog-menu-icon > i,
.catalog-menu li.active > a > .catalog-menu-icon > i{
	color: #3d4b52;
}

.catalog-menu-pic > img{
	width: auto;
	height: auto;
	max-width: 36px;
	max-height: 36px;
}

.catalog-menu-wrapper > .catalog-menu.catalog-menu-item-column > li > a > .catalog-menu-pic > img{
	max-width: 48px;
	max-height: 48px;
}

.catalog-menu-text{			
	color: #3d4b52;	
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.catalog-menu-wrapper > .catalog-menu.catalog-menu-item-column > li > a > .catalog-menu-text{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.bx-no-touch .catalog-menu li:hover > a > .catalog-menu-text,
.bx-no-touch .catalog-menu li.jshover > a > .catalog-menu-text,
.bx-touch .catalog-menu li:active > a > .catalog-menu-text,
.catalog-menu li.hover > a > .catalog-menu-text,
.catalog-menu li.active > a > .catalog-menu-text{
	color: #6639b6;
}

.catalog-menu-text > span{
	display: block;
}

.catalog-menu-arrow{
	margin-left: 12px;
	margin-right: -2px;
}

.catalog-menu-arrow > i{	
	font-size: 16px;
	color: #b2c7cb;
	-webkit-transition: all 0.15s ease 0s;
	-moz-transition: all 0.15s ease 0s;
	-o-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.bx-no-touch .catalog-menu li:hover > a > .catalog-menu-arrow > i,
.bx-no-touch .catalog-menu li.jshover > a > .catalog-menu-arrow > i,
.bx-touch .catalog-menu li:active > a > .catalog-menu-arrow > i,
.catalog-menu li.hover > a > .catalog-menu-arrow > i,
.catalog-menu li.active > a > .catalog-menu-arrow > i{
	color: #6e858a;
}

.catalog-menu-count{
	align-self: flex-start;
	margin: 12px -6px 0 12px;
	padding: 0 5px;
	font-size: 11px;	
	color: #6e858a;
	line-height: 16px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background: #d0e0e3;
}

.catalog-menu-wrapper > .catalog-menu.catalog-menu-item-column > li > a > .catalog-menu-count{
	align-self: unset;
	margin: 0;
	position: absolute;
	right: 12px;
	top: 12px;
}

/***DROPDOWN_MENU***/
.catalog-menu > li > .catalog-menu-dropdown-menu{
	width: 100%;
	position: absolute;
	left: -100%;
	top: 100%;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0 0 64px;	
	-webkit-box-shadow: inset 0 32px 32px -32px rgba(61, 75, 82, 0.16);
    -moz-box-shadow: inset 0 32px 32px -32px rgba(61, 75, 82, 0.16);
    box-shadow: inset 0 32px 32px -32px rgba(61, 75, 82, 0.16);
	background: #f1f6f7;
}

.catalog-menu > li > .catalog-menu-dropdown-menu:after{
	width: 100%;
	height: 32px;
	position: absolute;
	left: 0;
	top: 100%;
	content: "";
	-webkit-box-shadow: inset 0 32px 32px -32px rgba(110, 133, 138, 0.24);
    -moz-box-shadow: inset 0 32px 32px -32px rgba(110, 133, 138, 0.24);
    box-shadow: inset 0 32px 32px -32px rgba(110, 133, 138, 0.24);
}

.catalog-menu-dropdown-menu ul{
	margin: 17px 0 0 52px;
	padding: 0;
	list-style: none;
}

.catalog-menu > li > .catalog-menu-dropdown-menu > ul{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0 32px;
}

.catalog-menu-dropdown-menu ul ul ul{	
	display: none;
}

.catalog-menu > li > .catalog-menu-dropdown-menu > ul > li{
	width: 16.66666667%;	
	margin-top: 38px;
	padding: 0 24px;
}

.catalog-menu-dropdown-menu ul ul > li:not([data-entity='title']) + li{
	margin-top: 5px;
}

.catalog-menu-dropdown-menu ul > li > a{
	text-decoration: none;
	line-height: 17px;
}

.catalog-menu > li > .catalog-menu-dropdown-menu > ul > li > a{
	height: 38px;
	display: flex;
	align-items: center;	
	line-height: 19px;
	overflow: hidden;
}

.catalog-menu > li > .catalog-menu-dropdown-menu > ul > li > a > .catalog-menu-icon,
.catalog-menu > li > .catalog-menu-dropdown-menu > ul > li > a > .catalog-menu-pic{
	margin-right: 16px;
}

.catalog-menu > li > .catalog-menu-dropdown-menu > ul > li > a > .catalog-menu-pic{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	overflow: hidden;
}

.catalog-menu > li > .catalog-menu-dropdown-menu > ul > li > a > .catalog-menu-text{
	max-height: 38px;
	font-family: "Museo Sans Cyrl 700", sans-serif;
}

.catalog-menu > li > .catalog-menu-dropdown-menu > ul > li > a > .catalog-menu-arrow{
	display: none;
}

/***MORE_MENU***/
.catalog-menu-wrapper > .catalog-menu.catalog-menu-item-column > li.more{
	flex-basis: 0;
}

.catalog-menu > li.more > a{
	color: #3d4b52;
}

.bx-no-touch .catalog-menu > li.more:hover > a,
.bx-touch .catalog-menu > li.more:active > a{
	color: #6639b6;
}

.catalog-menu > li.more > .catalog-menu-dropdown-menu{	
	width: auto;	
	display: block;
	left: -9999px;		
	padding: 0;
	list-style: none;
	border: 1px solid #e3ecef;
	-webkit-box-shadow: 0 0 24px rgba(61, 75, 82, 0.16);
    -moz-box-shadow: 0 0 24px rgba(61, 75, 82, 0.16);
    box-shadow: 0 0 24px rgba(61, 75, 82, 0.16);
	background: #fff;
}

.catalog-menu-wrapper > .catalog-menu.catalog-menu-item-column > li.more > .catalog-menu-dropdown-menu{
	width: 276px;
}

.catalog-menu > li.more > .catalog-menu-dropdown-menu > li + li{
	border-top: 1px solid #e3ecef;
}

.catalog-menu > li.more > .catalog-menu-dropdown-menu > li > a{	
	display: flex;
	align-items: center;	
	padding: 15px 16px 14px;
	color: #3d4b52;
	text-decoration: none;
}

.bx-no-touch .catalog-menu > li.more > .catalog-menu-dropdown-menu > li:hover > a,
.bx-no-touch .catalog-menu > li.more > .catalog-menu-dropdown-menu > li.jshover > a,
.bx-touch .catalog-menu > li.more > .catalog-menu-dropdown-menu > li:active > a,
.catalog-menu > li.more > .catalog-menu-dropdown-menu > li.hover > a,
.catalog-menu > li.more > .catalog-menu-dropdown-menu > li.active > a{	
	background-color: #f1f6f7;
}

.catalog-menu > li.more > .catalog-menu-dropdown-menu > li > a > .catalog-menu-arrow,
.catalog-menu > li.more > .catalog-menu-dropdown-menu > li > .catalog-menu-dropdown-menu{
	display: none;
}

.catalog-menu > li.more > .catalog-menu-dropdown-menu > li > a > .catalog-menu-count{
	margin-right: -4px;
	margin-top: -3px;
}

/***PHONES***/
@media(max-width: 991px){
	.slide-menu-option-1-active{
		overflow: hidden;
	}

	/***MENU***/
	.catalog-menu{
		width: 100%;
		height: unset;
		float: none;
		position: fixed !important;
		left: -100%;
		top: 72px;
		bottom: 0;
		overflow: hidden;
		border: none;		
		background: #fff;
		z-index: 205;
	}

	.catalog-menu.active{
		left: 0;
	}

	.catalog-menu > .catalog-menu{
		width: 100% !important;
		position: static !important;
		background: none;	
	}

	.catalog-menu > li{
		float: none;
		border-right: none;
		border-bottom: 1px solid #e3ecef;
	}

	.catalog-menu > li > a{
		height: auto;
		min-height: 64px;
		padding: 13px 38px 13px 18px;	
		position: relative;
	}

	.catalog-menu-text > span{
		display: inline;
	}

	.catalog-menu-text > span:after{
		content: " ";
	}

	.catalog-menu-arrow{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0;
		padding-left: 6px;
		padding-right: 16px;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
	}
	
	.catalog-menu-count{
		margin: 0;
		position: absolute;
		right: 16px;
		top: 12px;
	}

	/***DROPDOWN_MENU***/
	.catalog-menu-dropdown-menu,
	.catalog-menu > li > .catalog-menu-dropdown-menu{
		width: 100%;
		display: block;
		padding: 0;
		position: absolute !important;
		left: 100%;
		top: 0;
		bottom: 0;
		overflow: hidden;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background: #fff;
		z-index: 202;	
	}

	.catalog-menu > li > .catalog-menu-dropdown-menu:after{
		content: none;
	}

	.catalog-menu-dropdown-menu.active,
	.catalog-menu > li > .catalog-menu-dropdown-menu.active{	
		left: 0;
	}

	.catalog-menu-dropdown-menu > .catalog-menu-dropdown-menu{
		width: 100% !important;
		min-height: 100%;
		position: static !important;
	}
	
	.catalog-menu-dropdown-menu ul{
		display: block !important;
		margin: 0 !important;
		padding: 0 !important;
	}

	.catalog-menu-dropdown-menu ul > li[data-entity='title']{
		min-height: 64px;
		display: flex;
		align-items: center;
		padding: 13px 36px 13px 18px !important;
		position: relative;
		border: none;
		background: #e3ecef;
		cursor: pointer;
	}

	.catalog-menu-back{	
		font-size: 16px;
		color: #b2c7cb;
		-webkit-transition: all 0.15s ease 0s;
		-moz-transition: all 0.15s ease 0s;
		-o-transition: all 0.15s ease 0s;
		transition: all 0.15s ease 0s;
	}

	.bx-no-touch .catalog-menu-dropdown-menu ul > li[data-entity='title']:hover .catalog-menu-back,
	.bx-touch .catalog-menu-dropdown-menu ul > li[data-entity='title']:active .catalog-menu-back{
		color: #6e858a;
	}

	.catalog-menu-title{
		padding-left: 12px;		
		-webkit-transition: all 0.15s ease 0s;
		-moz-transition: all 0.15s ease 0s;
		-o-transition: all 0.15s ease 0s;
		transition: all 0.15s ease 0s;
	}

	.bx-no-touch .catalog-menu-dropdown-menu ul > li[data-entity='title']:hover .catalog-menu-title,
	.bx-touch .catalog-menu-dropdown-menu ul > li[data-entity='title']:active .catalog-menu-title{
		color: #6639b6;
	}

	.catalog-menu-close{	
		position: absolute;
		right: 16px;
		font-size: 16px;
		color: #8ea6ab;
		-webkit-transition: all 0.15s ease 0s;
		-moz-transition: all 0.15s ease 0s;
		-o-transition: all 0.15s ease 0s;
		transition: all 0.15s ease 0s;
	}

	.bx-no-touch .catalog-menu-dropdown-menu ul > li[data-entity='title']:hover .catalog-menu-close,
	.bx-touch .catalog-menu-dropdown-menu ul > li[data-entity='title']:active .catalog-menu-close{
		color: #6e858a;
	}
	
	.catalog-menu-dropdown-menu ul > li{
		width: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
		border-bottom: 1px solid #e3ecef;
	}
	
	.catalog-menu-dropdown-menu ul > li > a{
		height: auto !important;
		min-height: 64px;
		display: flex;
		align-items: center;
		padding: 13px 38px 13px 18px;
		position: relative;
		overflow: unset !important;
		line-height: 19px;
	}

	.bx-no-touch .catalog-menu-dropdown-menu ul > li:hover > a,
	.bx-touch .catalog-menu-dropdown-menu ul > li:active > a,
	.catalog-menu-dropdown-menu ul > li.hover > a,
	.catalog-menu-dropdown-menu ul > li.active > a{	
		background-color: #f1f6f7;
	}

	.catalog-menu-dropdown-menu ul > li > a > .catalog-menu-icon,
	.catalog-menu-dropdown-menu ul > li > a > .catalog-menu-pic{
		margin-right: 18px !important;
	}

	.catalog-menu-dropdown-menu ul > li > a > .catalog-menu-pic{
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		border-radius: 0;
		background: none;
		overflow: unset;
	}

	.catalog-menu-dropdown-menu ul > li > a > .catalog-menu-text{
		max-height: unset !important;
		font-family: "Museo Sans Cyrl 300", sans-serif !important;
	}

	.catalog-menu-dropdown-menu ul > li > a > .catalog-menu-arrow{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0;
		padding-left: 6px;
		padding-right: 16px;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
	}
}

/***DESKTOPS***/
@media(min-width: 992px) and (max-width: 1103px){
	.catalog-menu > li > .catalog-menu-dropdown-menu > ul > li{
		width: 33.33333333%;
	}
}

@media(min-width: 1104px) and (max-width: 1379px){
	.catalog-menu > li > .catalog-menu-dropdown-menu > ul > li{
		width: 25%;
	}
}

@media(min-width: 1380px) and (max-width: 1655px){
	.catalog-menu > li > .catalog-menu-dropdown-menu > ul > li{
		width: 20%;
	}
}