.reviews-container .preview{
	margin-top: 22px;
}

.reviews-container .reviews,
.reviews-container .description{
	margin-top: 46px;
}

.reviews-container > div:first-child{
	margin-top: 0;
}

/***PHONES***/
@media(max-width: 991px){
	.reviews-container{
		margin-top: -32px;
	}
	
	.reviews-container .preview,
	.reviews-container .reviews,
	.reviews-container .description{
		margin-top: 14px;
	}
}