/***SECTION_PIC***/
.catalog-section-pic{
	height: -moz-calc(100vw * 0.1374);
	height: -webkit-calc(100vw * 0.1374);
	height: calc(100vw * 0.1374);
	position: relative;
	background: #6e858a;
}

.slide-menu-option-1-active .catalog-section-pic{	
	height: -moz-calc((100vw - 278px) * 0.1374);
	height: -webkit-calc((100vw - 278px) * 0.1374);
	height: calc((100vw - 278px) * 0.1374);
}

.slide-menu-option-2 .catalog-section-pic{
	height: -moz-calc((100vw - 72px) * 0.1374);
	height: -webkit-calc((100vw - 72px) * 0.1374);
	height: calc((100vw - 72px) * 0.1374);
}

.page-container .catalog-section-pic,
.slide-menu-option-1-active .page-container .catalog-section-pic,
.slide-menu-option-2 .page-container .catalog-section-pic{
	height: -moz-calc(1298px * 0.1374);
	height: -webkit-calc(1298px * 0.1374);
	height: calc(1298px * 0.1374);
}

.catalog-section-pic > a{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.catalog-section-pic > a:link,
.catalog-section-pic > a:visited{
	text-decoration: none;
}

.catalog-section-pic img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	left: 50%;
	top: 50%;
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/***PROMOTIONS***/
.promotions-container .promotions{
	margin-top: 32px;
}

.promotions-container .description{
	margin-top: 46px;
}

.promotions-container > div:first-child,
.promotions-container > div[id*="bxdynamic_"]:first-child + .promotions{
	margin-top: 0;
}

/***PHONES***/
@media(max-width: 991px){
	/***SECTION_PIC***/
	.catalog-section-pic,
	.slide-menu-option-1-active .catalog-section-pic,
	.slide-menu-option-2 .catalog-section-pic,
	.page-container .catalog-section-pic,	
	.slide-menu-option-1-active .page-container .catalog-section-pic,
	.slide-menu-option-2 .page-container .catalog-section-pic{
		height: -moz-calc(100vw * 0.1374);
		height: -webkit-calc(100vw * 0.1374);
		height: calc(100vw * 0.1374);
	}

	/***PROMOTIONS***/
	.promotions-container{
		margin-top: -32px;
	}

	.promotions-container .preview{
		margin-top: 32px !important;
	}
	
	.promotions-container .promotions{
		margin-top: 18px;
	}

	.promotions-container .description{
		margin-top: 14px;
	}
}

/***DESKTOPS***/
@media(min-width: 992px) and (max-width: 1271px){
	/***SECTION_PIC***/
	.page-container .catalog-section-pic,	
	.slide-menu-option-1-active .page-container .catalog-section-pic,
	.slide-menu-option-2 .page-container .catalog-section-pic{
		height: -moz-calc(992px * 0.1374);
		height: -webkit-calc(992px * 0.1374);
		height: calc(992px * 0.1374);
	}
}

@media(min-width: 992px) and (max-width: 1042px){
	/***SECTION_PIC***/
	.slide-menu-option-2 .catalog-section-pic{
		height: -moz-calc(100vw * 0.1374);
		height: -webkit-calc(100vw * 0.1374);
		height: calc(100vw * 0.1374);
	}
}

@media(min-width: 992px) and (max-width: 1499px){
	/***SECTION_PIC***/
	.slide-menu-option-1-active .catalog-section-pic{
		height: -moz-calc(100vw * 0.1374);
		height: -webkit-calc(100vw * 0.1374);
		height: calc(100vw * 0.1374);
	}
}