.objects-container .preview{
	margin-top: 16px;
}

.objects-container .objects,
.objects-container .description{
	margin-top: 46px;
}

/***PHONES***/
@media(max-width: 991px){
	.objects-cols{
		display: flex;
		flex-direction: column;
	}

	.objects-col:first-child{
		order: 1;
	}

	.objects-container .catalog-section-list{
		margin-top: 0;
	}
	
	.objects-container .preview,
	.objects-container .objects,
	.objects-container .description{
		margin-top: 14px;
	}
}

/***DESKTOPS_LARGE_DESKTOPS***/
@media(min-width: 992px){
	.objects-container > div:first-child{
		margin-top: 0;
	}
}